<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.mapper.AdminMapper">


<!-- 상품 조회 페이지 -->
<select id="goodsGetDetail" resultType="com.mall.model.ItemVO">
	<![CDATA[
		SELECT * FROM SHOP_ITEM WHERE ITEMID = #{itemId}
	]]>
</select>

</mapper>
